<div class="tab-pane fade" id="tab-Password" role="tabpanel" aria-labelledby="tab-Password-link">
    <p>Set new password!</p>
    <!-- Button to trigger modal -->
    <a href="#" class="btn btn-outline-primary-2" data-toggle="modal" data-target="#changePasswordModal">
        <span>Change Password</span>
        <i class="icon-long-arrow-right"></i>
    </a>
</div><!-- .End .tab-pane -->